# These are the specific versions used in the notebooks
# You can install them by running `pip install -r requirements.txt`
# The package versions may have changed and you may find that the notebooks do not work as expected if different versions are installed
# If you have problems with some of the notebooks you can fall back to this version of the openai api
# openai==1.31.2
# Otherwise I suggest you use the latest version of the openai api
openai
ipython
pytz
markdown2
